<div class="meta-info-container d-md-flex">    
    <div class="pr-4">Created Date: {{auditInfo.createdDate && (auditInfo.createdDate | date:'MM/dd/yyyy') || '---'}}</div>
    <div class="pr-4">Created By: {{auditInfo.createdByName || '---'}}</div>
    <div class="pr-4">Last Modified Date: {{auditInfo.modifiedDate && (auditInfo.modifiedDate | date:'MM/dd/yyyy') || '---'}}</div>
    <div>Last Modified By: {{ auditInfo.modifiedByName || '---'}}</div>

    <ng-content></ng-content>
    
  </div>
  
