<div class="pt-2 pb-2 pr-3 pl-r">
    <div class="col-12">
        <b>Competecy Profile: </b> {{ productMetaInfo.competencyProfileName }}
    </div>
    <div class="col-12">
        <b>Department: </b> {{ productMetaInfo.department }}
    </div>
    <div class="col-12">
        <b>Facility: </b> {{ productMetaInfo.facility }}
    </div>
    <div class="col-12">
        <b>Start Date: </b> {{ productMetaInfo.startDate }}
    </div>
    <div class="col-12">
        <b>Program Status: </b> {{ productMetaInfo.programStatus }}
    </div>
    <div class="col-12">
        <b>Assigned Competencies: </b> {{ productMetaInfo.assignedCompetenciesCount }}
    </div>
</div>
