<div>
    <button class="col-1 mb-3" kendoButton look="outline" icon="plus" (click)="addItem()"></button>
</div>
<form #orderableListForm="ngForm">
    <kendo-sortable
        [kendoSortableBinding]="listItems"
        [animation]="true"
        emptyText=""
        (dragEnd)="onDragEnd($event)">
        <ng-template let-dataItem="item" let-i="index" >
            <div class="d-flex form-group cursor-move">
              <div class="drag-indicator k-i-drag drag-indicator-orderable"></div>
              <input [type]="inputType" class="k-textbox form-control" [name]="'form-textbox' + i" #inputModel="ngModel"
                  [(ngModel)]="dataItem.text" (blur)="emitter.next()" [placeholder]="placeholder" [pattern]="pattern" [email]="isEmail" required/> 
              <button class="ml-4" kendoButton look="outline" icon="minus" (click)="removeItem(dataItem)"></button>
            </div>
            <form-error [model]="inputModel" [inputLabel]="inputType | titlecase"></form-error>
        </ng-template>
    </kendo-sortable>
</form>



