<div class="popup-style">
    <!-- <span #target class="k-icon k-i-more-vertical cursor-pointer"></span>
    <kendo-contextmenu
        [items]="actions"
        [target]="target"
        showOn="click"
        [collision]="collision"
        [alignToAnchor]="true"
        [anchorAlign]="anchorAlign"
        [popupAlign]="popupAlign"
        (select)="onActionClick($event)"> 
        <ng-template *ngIf="template && !actions" kendoContextMenuTemplate>
            <ng-container [ngTemplateOutlet]="template"></ng-container>
        </ng-template>
    </kendo-contextmenu> -->
</div>