@import '../../variables.scss';

.draggable-item {
  background-color: $primary-blue;
  border: 1px solid #fff;
  height: 70px;
  line-height: 68px;
  font-size: 16px;
  text-align: center;
  outline: none;
  cursor: move;
  color: white;
}

.draggable-item:hover {
  opacity: 0.8;
}

.draggable-item.active {
  background-color: #27aceb;
  color: #fff;
  border-color: #27aceb;
  z-index: 10;
}

.grey-sort .draggable-item {
  background-color: $bg-grey !important;
  color: $dark-grey;
}

.grey-sort .draggable-item:hover .drag-indicator {
  color: $primary-blue;
}

.infinite-scroller {
    height: 31.25rem;
    width: 43.75rem;
    border: 0.0625rem solid $bg-blue;
    overflow: scroll;
    padding: 0rem;
    list-style: none;
  
    li {
      padding : 0.625rem 0.3125rem;
      line-height: 5rem;
      &:nth-child(odd) {
        background : $white;
      }
      &:nth-child(even) {
        background : $bg-blue;
      }
    }
  }