// ICONS ICONS ICONS

.k-icon.k-i-arrow-w::before {
  font-family: icomoon;
  // font-size: 1rem;
  content: "\e600";
  font-weight: 700;
}
.k-icon.k-i-arrow-e::before {
  font-family: icomoon;
  // font-size: 1rem;
  content: "\e601";
  font-weight: 700;
}

.k-pager-nav.k-link .k-icon.k-i-arrow-w::before {
  font-family: "WebComponentsIcons";
  content: "\e007";
}
.k-pager-nav.k-link .k-icon.k-i-arrow-e::before {
  font-family: "WebComponentsIcons";
  content: "\e005";
}

.k-i-arrow-s::before {
  font-family: icomoon;
  content: "\e63c";
  // font-size: .9rem;
  font-weight: 700;
}
.k-i-arrow-n::before {
  font-family: icomoon;
  content: "\e64c";
  // font-size: .9rem;
  font-weight: 700;
}

.k-icon.k-i-cog {
  font-size: 1.3rem;
}
.k-icon.k-i-cog::before {
  font-family: icomoon;
  content: "\e612";
}

.k-icon.k-i-close-circle::before {
  font-family: icomoon;
  content: "\e968";
  font-weight: 700;
}


.k-i-user::before {
  font-family: icomoon;
  content: "\e63b";
}

.k-i-search::before {
  font-family: icomoon;
  content: "\e90f";
}

.k-i-menu::before {
  font-family: icomoon;
  content: "\e63e";
}

.k-i-drag::before {
  font-family: icomoon;
  content: "\e95d";
  margin-right: 1rem;
}

.k-i-folder::before {
  font-family: icomoon;
  content: "\e64e";
}

.k-i-cancel::before {
  font-family: icomoon;
  content: "\e957";
}

.k-i-delete::before {
  font-family: icomoon;
  content: "\e62c";
}

.k-i-x::before {
  font-family: icomoon;
  font-weight: 700;
  content: "\e605";
}
