@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i9bu04');
  src:  url('../fonts/icomoon.eot?i9bu04#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?i9bu04') format('woff2'),
    url('../fonts/icomoon.ttf?i9bu04') format('truetype'),
    url('../fonts/icomoon.woff?i9bu04') format('woff'),
    url('../fonts/icomoon.svg?i9bu04#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.k-i-arrow-s {
  font-family:'icomoon';
  content: "\e907";
}