@import '~@progress/kendo-theme-bootstrap/dist/all.scss';

@import '~bootstrap/scss/bootstrap.scss';

@import url('https://amy-icomoon.s3.amazonaws.com/style.css');

body {
  font-family: $font-family;
}

// BUTTONS

.k-button {
  padding: .5rem 1rem;
  background-color: white;
  border: 1px solid $brand-grey;
}

.k-button:hover {
  background-color: try-darken( $light-grey, 10% );
  border-color: try-darken( $brand-grey, 10% );
}

.k-button:focus:enabled, 
.k-outline:focus:enabled {
  outline-color: $bright-blue;
  outline-width: 1px;
  outline-offset: 3px;
  outline-style: dotted;
}

.k-button-small {
  border-radius: 2rem;
  // font-size: 80%;
  font-weight: 400;
  padding: .35rem 1rem;
}

.k-outline {
  border-color: $primary-blue !important;
  color: $primary-blue !important;
  border-width: 2px;
}

.k-outline:hover {
  border-color: $brand-grey !important;
  background-color: $brand-grey !important;
  color: white !important;
}

.k-button-secondary {
  border-color: $primary-blue !important;
  color: $primary-blue !important;
  border-width: 2px;
  background: none;
}

.k-flat {
  border: none;
  background: none;
  color: $primary-blue !important;
  transition: none !important;
}

.k-flat:hover {
  background-color: $bright-blue !important;
  color: white !important;
}

.k-chip {
  margin-right: .5rem;
}

.k-chip-filled,
.k-chip-filled:focus {
  border-color: $primary-blue;
  background-color: $pale-blue;

  .k-remove-icon {
    color: $brand-grey;
  }
}

.k-chip-filled:hover {
  border-color: $bright-blue;
  background-color: try-darken( $pale-blue, 5% );
  .k-remove-icon {
    color: $primary-blue;
  }
}

// FORM

form {
  padding: $standard-padding;
}

.form-control {
  box-shadow:none;
  outline:0;
}

// .k-numerictextbox .k-numeric-wrap .k-input,
// .k-dropdown .k-dropdown-wrap .k-input, 
// .k-dropdowntree .k-dropdown-wrap .k-input,
// .k-combobox.k-combobox-clearable .k-input,
// .k-multiselect .k-multiselect-wrap, 
// .k-dropdowntree .k-multiselect-wrap {
//   min-height: 2.3125rem;
// }

// .k-multiselect .k-multiselect-wrap .k-button, 
// .k-dropdowntree .k-multiselect-wrap .k-button {
//   padding: 0rem 0.75rem !important;
//   font-size: 0.89rem;
// }

.k-multiselect .k-multiselect-wrap::before, 
.k-dropdowntree .k-multiselect-wrap::before {
  height: calc( 1.5em + 0.75rem + 1px);
}

.k-multiselect .k-multiselect-wrap .k-button, 
.k-dropdowntree .k-multiselect-wrap .k-button {
  min-height: calc(1.5em + 0.25rem + 2px);
  padding: .125rem .725rem;
  margin: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);
}

.k-multiselect .k-multiselect-wrap .k-button:last-child, 
.k-dropdowntree .k-multiselect-wrap .k-button:last-child {
  margin-bottom: calc(0.25rem - 1px);
}

.k-multiselect .k-multiselect-wrap .k-button {
  background-color: $primary-blue;
  border-color: $primary-blue;
  border-radius: 1rem;
  color: white;
}

.k-multiselect .k-multiselect-wrap .k-button:hover {
  background-color: try-darken($primary-blue, 10% );
  border-color: try-darken( $primary-blue, 10% );
}

.k-multiselect .k-multiselect-wrap li .k-icon, 
.k-dropdowntree .k-multiselect-wrap li .k-icon {
  opacity: 1;
}

.form-control:focus, 
.k-textbox:focus,
.k-textbox:focus-within,
.k-multiselect .k-multiselect-wrap:focus, 
.k-dropdowntree .k-multiselect-wrap:focus {
  border-bottom: 0.125rem solid $bright-blue !important;
}


.k-dateinput,
.k-picker-wrap,
.k-dateinput-wrap, 
.k-datepicker, 
.k-datetimepicker, 
.k-multiselect, 
.k-numerictextbox, 
.k-maskedtextbox, 
.k-timepicker, 
.k-combobox {
  background-color: transparent;
  border-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.k-picker-wrap {
  border: 0px !important;
  border-radius: 0 !important;

  .k-select {
    border-width: 0px !important;
    border-color: $bg-grey;
    background-color: $bg-grey !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $primary-blue !important;
    padding: .35rem !important;
    margin: 0 !important;

    .k-icon {
      font-size: 1.5rem;
    }
  }
}

.k-picker-wrap:hover {
  .k-select{
    background-color: $bright-blue;
    color: white;
  }
}

.k-button.k-primary, 
.k-list-container .k-button:active,
.k-list .k-item.k-state-selected,
.k-slider .k-draghandle,
.k-button-group .k-state-active {
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;
}

// .k-content[_ngcontent-pfu-c0] {
//   box-shadow: $close-shadow;
// }

.k-list .k-item {
  padding:.5rem 1rem;
}

.k-list .k-item:hover {
  background-color: $pale-blue;
}

.k-split-button .k-button:last-child {
  padding: .75rem .5rem !important;
  height: 100%;
}

.k-switch-on .k-switch-container {
  background-color: $primary-blue;
}

.k-switch-off .k-switch-container {
  background-color: $light-grey;
}

.k-primary:hover, 
.k-outline:hover,
.k-datepicker .k-select:hover,
.k-datetimepicker .k-select:hover {
  background-color: $bright-blue !important;
  border-color: $bright-blue !important;
  color: white !important;
}

// .k-combobox .k-dropdown-wrap .k-select,
// .k-widget.k-split-button .k-button,
// .k-dropdown .k-dropdown-wrap .k-select {
//   .k-icon.k-i-arrow-s::before {
//     font-family: icomoon;
//     font-weight: 700;
//     font-size: 0.8rem;
//     content: "\e63c";
//   }
// }

.k-slider .k-button {
  background-color: $pale-blue;
  border-color: $pale-blue;
}
.k-slider .k-button:hover {
  background-color: $bright-blue;
  border-color: $primary-blue;
  color: white;
}

.k-calendar .k-footer .k-nav-today, 
.k-calendar .k-calendar-header .k-today {
  color: $primary-blue;
}

.k-datepicker .k-picker-wrap .k-select .k-icon.k-i-calendar::before,
.k-datetimepicker .k-picker-wrap .k-select .k-icon.k-i-calendar::before {
  font-family: icomoon;
  // font-weight: 700;
  font-size: 1.5rem;
  content: "\e611";
}

.k-colorpicker .k-picker-wrap .k-select .k-icon {
  font-size: 1rem;
}

.k-action-buttons .k-primary {
  color: $white;
}


.k-dropdowntree,
.k-floatwrap,
.k-dateinput-wrap,
.k-dropdown,
.k-numerictextbox {
  border: none !important;
  border-color: $bg-grey;
  background-color: $bg-grey !important;
  border-radius: 0 !important;

  .k-select {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.k-dropdown-wrap,
.k-textbox,
.k-textarea,
.k-numeric-wrap,
.k-multiselect,
.k-autocomplete {
  border-radius: 0 !important;
  border: none !important;
  border-color: $bg-grey;
  background-color: $bg-grey !important;
  border-bottom: 1px solid $primary-blue !important;
}

.k-widget.k-state-invalid > .k-dateinput-wrap,
.k-widget.k-state-invalid > .k-dropdown-wrap, 
.k-widget.k-state-invalid > .k-picker-wrap, 
//.k-widget.k-state-invalid > .k-multiselect-wrap, 
.k-widget.k-state-invalid > .k-numeric-wrap, 
.ng-invalid.ng-touched > .k-dateinput-wrap, 
.ng-invalid.ng-touched > .k-dropdown-wrap, 
.ng-invalid.ng-touched > .k-picker-wrap, 
//.ng-invalid.ng-touched > .k-multiselect-wrap, 
.ng-invalid.ng-touched > .k-numeric-wrap, 
.ng-invalid.ng-touched.k-maskedtextbox > .k-textbox,
.ng-invalid.ng-dirty > .k-dateinput-wrap, 
.ng-invalid.ng-dirty > .k-dropdown-wrap, 
.ng-invalid.ng-dirty > .k-picker-wrap, 
//.ng-invalid.ng-dirty > .k-multiselect-wrap, 
.ng-invalid.ng-dirty > .k-numeric-wrap,
.k-textbox.k-invalid, 
.k-textbox.k-state-invalid, 
.k-textbox.ng-invalid.ng-touched, 
.k-textbox.ng-invalid.ng-dirty, 
.k-textarea.k-invalid, 
.k-textarea.k-state-invalid, 
.k-textarea.ng-invalid.ng-touched, 
.k-textarea.ng-invalid.ng-dirty, 
.k-input.k-textbox.k-invalid, 
.k-input.k-textbox.k-state-invalid, 
.k-input.k-textbox.ng-invalid.ng-touched, 
.k-input.k-textbox.ng-invalid.ng-dirty,
.k-multiselect.k-state-invalid,
.k-multiselect.ng-invalid.ng-touched,
.k-multiselect.ng-invalid.ng-dirty {
  border-bottom: 1px solid $bright-red !important;
  border-top-color: initial;
  border-top-color: rgba(0, 0, 0, 0.08);
  border-bottom-color: initial;
  border-bottom-color: rgba(0, 0, 0, 0.08);
  border-right-color: initial;
  border-right-color: rgba(0, 0, 0, 0.08);
  color: $main-text-color;

}

.ng-invalid.ng-touched.k-maskedtextbox > .k-textbox {
  border-top-color: initial;
  border-top-color: rgba(0, 0, 0, 0.08);
  border-bottom-color: initial;
  border-bottom-color: rgba(0, 0, 0, 0.08);
  border-right-color: initial;
  border-right-color: rgba(0, 0, 0, 0.08);
}

.k-textbox:disabled, 
.k-textbox[disabled], 
.k-textbox.k-state-disabled, 
.k-textarea:disabled, 
.k-textarea[disabled], 
.k-textarea.k-state-disabled,
//.k-dateinput.k-state-disabled,
//.k-picker-wrap.k-state-disabled,
//.k-dateinput-wrap.k-state-disabled,
//.k-datepicker.k-state-disabled,
//.k-datetimepicker.k-state-disabled,
.k-state-disabled .k-multiselect-wrap,
.k-maskedtextbox.k-state-disabled,
//.k-timepicker.k-state-disabled,
//.k-combobox.k-state-disabled,
.k-numeric-wrap.k-state-disabled,
.k-dropdown-wrap.k-state-disabled {
  color: $alt-grey;
  border-bottom: 1px solid $brand-grey !important;
  outline: none;
  cursor: defalt;
  opacity: .65;
  filter: grayscale(0.1);
  box-shadow: none;
}

.k-textbox[readonly],
.k-input[readonly],
.k-textarea[readonly],
.k-multiselect[ng-reflect-readonly="true"]>.k-multiselect-wrap,
.k-dropdown[ng-reflect-readonly="true"] .k-dropdown-wrap,
.k-numerictextbox[ng-reflect-readonly="true"] .k-numeric-wrap,
.k-combobox[ng-reflect-readonly="true"] .k-dropdown-wrap {
  background-color: $light-grey !important;
}


.k-textbox.ng-valid:focus {
    border-color: try-lighten( $accent, 25 );
}





// DROPDOWNS ONLY

.k-animation-container-shown {
  box-shadow: $close-shadow !important;
  margin-top: .25rem;
  border-radius: $border-radius;
}


// START GRID PAGINATION STYLES

.k-grid,
.k-grid-aria-root {
  border-radius: $border-radius !important;
  border-color: $light-grey;
}

.k-grid tbody tr:hover {
  background-color: $pale-blue !important;
}

.k-pager-wrap,
.k-grid-pager {
  border-radius: 0 0 $border-radius $border-radius !important;
  background-color: $bg-grey;
}

.k-grid-header {
  background-color: $bg-grey;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  font-weight: 600;
}

.k-grid-header:hover {
  background-color: $bg-grey !important;
}

.k-pager-nav.k-link,
.k-pager-numbers .k-link {
  border-color: transparent !important;
  background-color: transparent;
  border-radius: 2rem;
  font-size: .9rem;
  margin: .2rem;
  min-width: calc( 1.25em + .5rem + 4px);
  height: calc( 1.25em + .5rem + 4px);
}

.k-pager-numbers .k-link:hover {
  background-color: $light-grey;
  color: $dark-grey;
  border-radius: 2rem;
}

.k-pager-numbers .k-link.k-state-selected {
  background-color: $primary-blue;
  //font-weight: 700;
}

.k-pager-numbers .k-link.k-state-selected:hover {
  color: white;
}

.k-pager-sizes.k-label {
  font-size: .9rem;
}

.k-pager-sizes>select {
  //border-color: $light-grey;
  border: none;
  padding: 1rem .35rem 1rem 1rem;
  background-color: $bg-grey;
  width: 4.5rem;
  text-align: right;
}

.k-pager-numbers li a.k-link {
  color: $main-text-color;
}

.k-pager-nav.k-link .k-icon {
  color: $primary-blue;
}



// CHECKBOXES AND RADIO BUTTONS

.k-checkbox,
.k-radio {
  border-color:  $dark-grey;
  background-color: $white;
}

.k-checkbox {
  border-radius: .25rem;
}

.k-checkbox:hover,
.k-checkbox:focus,
.k-radio:hover,
.k-radio:focus {
  border-color:  $primary-blue;
}

.k-checkbox:checked,
.k-checkbox:checked:hover, 
.k-checkbox:checked:focus,
.k-radio:checked,
.k-radio:checked:hover, 
.k-radio:checked:focus {
  border-color: $primary-blue;
  background-color: $primary-blue;
}

.k-checkbox:checked::before,
.k-radio:checked::before {
  color: white;
}

.k-radio-label {
  margin-right: 1rem;
}

form .k-button  .k-button {
  margin-left: 0.5rem;
}

.k-button.k-button-apply {
  background-color: $success;
  color: $white;
}

.k-button.k-button-apply:hover {
  background-color: try-darken( $success, 10% );
}

.k-button.k-button-delete {
  background-color: $danger;
  border-color: $danger;
  color: $white;
}

.k-button.k-button-delete:hover {
  background-color: $bright-red;
  border-color: $bright-red;
}

.k-pager-sizes.k-label {
  right: 0rem;
  position: absolute;
}

.form-control:focus {
  box-shadow: none;
}

.form-group label:not(.k-checkbox-label),
.form-group label:not(.k-radio-label) {
    font-weight: 600;
}

.form-group label.k-checkbox-label,
.form-group label.k-radio-label {
    font-weight: normal;
}

.k-tooltip {
  padding: 1rem;
  background-color: $dark-grey;
}

.k-tooltip .k-callout {
  color: $dark-grey;
}

.k-tooltip-wrapper >.k-popup {
  padding:0;
}

.k-tooltip-button {
  top: 3%;
}

// .k-multiselect .k-multiselect-wrap li.k-button {
//   background-color: $primary-blue;
//   border: none;
//   border-radius: 1rem;
//   padding: 0 .75rem;
//   color: white;
// }

// .k-multiselect .k-multiselect-wrap .k-button .k-select {
//   margin-left: .6rem;
// }


// GRID

kendo-grid[hide-filter-buttons=true] kendo-grid-filter-cell-operators {
    display: none;
}

.k-grid .k-loading-mask {
  color: $primary;
}

.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-asc-sm,
.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-desc-sm {
  vertical-align: sub;
  margin-left: calc( 1rem - 1px);
}
.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-asc-sm::before {
  font-family: icomoon;
  font-weight: 700;
  font-size: 1.25rem;
  content: "\e64c";
}
.k-grid-header .k-header>.k-link>.k-icon.k-i-sort-desc-sm::before {
  font-family: icomoon;
  font-weight: 700;
  font-size: 1.25rem;
  content: "\e63c";
}

.k-grid-header .k-header[aria-sort="ascending"],
.k-grid-header .k-header[aria-sort="descending"] {
  border-bottom-color: $primary-blue;
  border-bottom-width: 0.125rem;
}

// LOADER

.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  background-color: rgba(255,255,255,.3);
  color: $primary;
}

.k-i-loading::before, .k-i-loading::after {
  border-width: 0.015em;
}

.k-dialog .k-i-loading {
  z-index: 10003;
}

.k-i-loading.opaque {
  background-color: rgba(255, 255, 255, 1);
}

.global-loader, .k-i-loading {
  z-index: 99999;
}

// DIALOG


.k-widget.k-window.k-dialog {
  border-radius: $border-radius;
  box-shadow: $far-shadow;

  .k-content,
  .k-window-titlebar {
    border: 0;
  }

  .k-content {
    margin-bottom: 1.5rem;
    padding: 0 1.75rem;
  }
}

.k-window-content, .k-prompt-container {
  form, p, div {
    padding: .25rem 0;
  }
}


.k-widget.k-window.k-dialog .k-window-titlebar.k-dialog-titlebar {
  text-align: left;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  align-items: start;
  white-space: unset;
}

kendo-dialog-titlebar.close-none .k-window-actions.k-dialog-actions {
  display: none;
}

.k-widget.k-window.k-dialog  kendo-dialog-titlebar.close-none.k-window-titlebar.k-dialog-titlebar {
  padding: 0rem;
}

.dialog-title-left {
  width: 100%; 
  font-size: 1.75rem;
  font-weight: 200;

  .text-container {
    padding: 2rem 1.75rem 0 1.75rem;
  }
}

.k-widget.k-window.k-dialog {
  border: none;
}

.bar-danger, .bar-info {  
  height: 0.313rem;
  border-radius: $border-radius $border-radius 0 0;
}

.bar-danger {
  background-color: $danger;
}

.bar-info {
  background-color: $primary-blue;
}

.k-content.k-window-content.k-dialog-content kendo-info-dialog div.container,
.k-content.k-window-content.k-dialog-content kendo-warning-dialog div.container,
.k-content.k-window-content.k-dialog-content kendo-confirm-dialog div.container {
  padding-left: 0rem;
  padding-right: 0rem;
}

.label {
  font-size: .9em;
  font-weight: 600;
  margin: .5rem;
}

.k-overlay {
  background-color: $brand-grey;
}

.k-widget.k-window.k-dialog  kendo-dialog-actions.k-dialog-buttongroup{
  background-color: $bg-grey;
  justify-content: flex-start;
  border: 0;
  padding: 1.75rem;

  .k-button {
    min-width: 125px;
  }
}

.k-widget.k-window.k-dialog .k-window-titlebar .k-window-actions {
  margin-top: 0rem;
}

.k-modal-title {
  font-size: 1.75rem;
  font-weight: 200;
  display: block;
}

.k-modal-toplabel {
  font-size: .8rem;
  font-weight: 700;
  display:block;
}

// SORTABLE & ORDERABLE

.draggable-item {
  text-align: left !important;
  vertical-align: middle;
  line-height: 1.4 !important;
  padding: 1.25rem;
  height: inherit !important;
  display:flex !important;
  align-items: stretch;
  margin: 2px;
  border:none !important;
}

.drag-indicator {
  float: left;
}

.drag-indicator-orderable::before {
  vertical-align: -webkit-baseline-middle;
  color: $alt-grey;
  font-size: 1.25rem;
}

.drag-text {
}





// CARDS

.k-card-actions-stretched {

  .k-button {
    border-radius: 0 !important;
  }

}

.k-card-actions-end, 
.k-card-actions-start,
.k-card-actions-center {
  margin-bottom: .5rem;
}

.k-card-separator {
  margin-bottom: .5rem;
}

// PANELBAR

kendo-panelbar-item {
  
  .k-content {
    padding: 1rem 1.25rem;
  }

  [ng-reflect-title="Child item"] > .k-link {
    padding: .5rem 2rem !important;
  }

}

.pane-content {
  padding: 1.25rem;
}

// .slide-accordion .k-widget {
//   border: none;
// }

// .slide-accordion .k-panelbar .k-i-arrow-s::before,
// .slide-accordion .k-panelbar .k-i-arrow-n::before {
//   content: none;
// }

// .slide-accordion .k-panelbar > .k-item > .k-link.k-state-selected {
//   background-color: #f8f9fa;
//   color: #212529
// }

// .slide-accordion .k-panelbar > .k-item > .k-link.k-state-selected.k-state-focused {
//   box-shadow: none;
// }

// .slide-accordion .k-item > .k-link {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-weight: bold;
// }

.k-panelbar>.k-item>.k-link.k-state-selected {
  background-color: $bg-grey;
  color: $dark-grey;
  border-color: $bg-grey;
}
.k-panelbar>.k-item>.k-link.k-state-focused.k-state-selected {
  outline: $pale-blue;
  box-shadow: none;
}

.k-header > .k-switch {
  margin-left: 1rem;
}



// TABSTRIP

.k-tabstrip.k-floatwrap {
  // border-radius: $container-radius, $container-radius, 0, 0;
}
.k-tabstrip>.k-content {
  padding: 1.5rem;
  // border-color: transparent;
  border-radius: $container-radius, $container-radius, 0, 0;
}

.k-tabstrip-top>.k-content {
  border-radius: 0;
}
.k-tabstrip-items li {
    color: $burgundy !important;
  }
  .k-tabstrip-items .k-state-active {
    color: $dark-grey !important;
}

.k-tabstrip-top>.k-tabstrip-items {
  border-color: transparent;
}

.k-tabstrip>.k-content.k-state-active {
  @include one-side-shadow(0, -5px);
}

.k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active {
  @include double-sided-shadow(-5px, 0, 5px, 0);
}

.fullpage-tab {
  border-radius: $container-radius !important;
}


// UPLOAD

// .k-upload-button {
//   font-size: 80%;
// }