@import './variables.scss';

@import './kendo-theme.scss';

@import './kendo-icon-override.scss';

$menu-open-width: 15.9375rem;
$menu-closed-width: 2.8125rem;
$menu-item-separator-color: #787878;
$menu-item-color: #444444;
$inner-menu-item-color: #343434;

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  background-color: $alt-grey;
  background-image: url("https://v3release.versantvoyager.org/Voyager3/Versant_pattern_grey_v04.acf37a236227a80f7b40.png");
}

.wrapper {
  min-height: 100%;
}

// .wrapper {
//   background-image: url("../assets/background_burgundy.png");
// }

// .wrapper.logged-in {
//   background-image: url("../assets/Versant_pattern_grey_v04.png");
//   margin-left: $menu-closed-width;
//   transition: margin-left .6s ease 0s;
// }

footer {
  background-color: $white;
  color: $gray-900;
  line-height: 3.125rem;
  height: 3.125rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow:$footer-shadow;
  z-index: 500;
}

header {
  position: fixed;
  background-color: $white;
  top: 0;
  height: 3.875rem;
  width: 100%;
  z-index: 10000;
}

#container {
  padding-bottom: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  --overflow-x: hidden;
  min-height: 100%;
}

header + #container {
  padding-top: 3.875rem;
}

/* TEXT MODIFIERS */
.align-right {
  text-align: right;
}

/* MENU CSS START */

.sidenav {
  height: 100%;
  width: $menu-open-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $menu-item-color;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  margin-left: $menu-closed-width - $menu-open-width;
  transition: margin-left .6s ease 0s;
  color: $white;
  cursor: pointer;
}

.sidenav::-webkit-scrollbar { /* WebKit */
  width: 0rem;
}

.sidenav.open {
  width: $menu-open-width;
  margin-left: 0rem;
}

.sidenav.open ~ .wrapper.logged-in {
  margin-left: $menu-open-width;
  transition: margin-left .6s ease 0s;
}

.sidenav .toggle-menu {
  padding: 1.125rem 0.5rem 0.75rem 0.5rem;
  text-align: right;
}

.sidenav .toggle-menu span {
  font-size: 1.75rem;
}

.log-out {
  font-size: 0.80rem;
  font-weight: bold;
  padding: 0.8em 0.6em 0.8em 0.5em;
  border-top: 0.0625rem solid $menu-item-separator-color;
}

.log-out i {
  font-size: 1.95em;
}

side-menu-item {
  display: none;
}

side-menu-item.open {
  display: block;
}

.menu-item { 
  font-size: 0.75rem;
  font-weight: bold;
  height: 2.5rem;
  padding: 0.8em 0.6em 0.8em 0.5em;
  border-top: 0.0625rem solid $menu-item-separator-color;
}

.menu-item.inner {
  background-color: $inner-menu-item-color;
}

.menu-item.active {
  background-color: $versant-color;
}

.menu-item-separator {
  width: 100%;
  height: 0.4rem;
  margin: 0;
  padding: 0;
  background-color: $menu-item-separator-color;
  display: none;
}

.menu-item-separator.active {
  display: block;
}

 .menu-item i.toggle { 
  font-size: 1em;
  margin-top: -0.75em;
  margin-right: 1.2em;
  padding: 1.2em 0.35em 0.9em 0.35em;
  border-right: 0.0625rem solid $menu-item-separator-color;
  border-left: 0.0625rem solid $menu-item-separator-color;
  float: right;
}

.menu-item i.icon { 
  font-size: 1.95em;
}

/* MENU CSS END */

.navbar-light .navbar-brand {
  color: $versant-color;
}

.white-container {
  background-color: $white;
  margin: 1rem;
  border-radius: $container-radius;
  box-shadow: $close-shadow;
}

.page-content {
  padding: 0rem $page-padding;
}

.page-content.top {
  padding-top: $page-padding;
}

.page-content.bottom {
  padding-bottom: $page-padding;
}

.validation-alert {
  color: $red;
  padding: 0.125rem 0rem;
}

a {
  color: $bg-blue;
}

.cursor-pointer{
  cursor: pointer;
}


/* GROUPED BUTTONS */

.text-left .k-button {
  margin-top: 1.5rem;
  margin-right: .5rem;
}

.text-right .k-button {
  margin-top: 1.5rem;
  margin-left: .5rem;
}

/* CARD BUTTON */

.card-button {
    border: none;
    width: 6.5625rem;
    font-weight: bold;
    font-size: 0.875rem;
    color:$white;
    padding: 0.1875rem;
    margin: 0.1875rem;
}

.card-button.card-selected{
    background-color: #480000 !important;
}

.cursor-default{
    cursor: default;
}

// .card-button {
//     border: none;
//     min-width: 6.5625rem;
//     font-weight: bold;
//     font-size: 0.875rem;
//     color: $white;
//     padding: 0.5rem;
//     margin: 0.1875rem;
//     cursor: default;
//     border-radius: $border-radius;
// }

// .card-button.card-selected{
//     background-color: #480000 !important;
// }


/* META INFO */
.meta-info-container {
    background-color: $bg-grey;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    font-size: 0.8rem;
}

/* TYPOGRAPHY */
.large-body {
  font-size: 1.2rem;
}

h1 {
  font-weight: 600;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 600;
}
h5 {
  font-weight: 600;
}
h6 {
  font-weight: 600;
}

.h-special {
  font-weight: 200;
}


/* ADDITIVE */

.light-border {
  border-color: $light-grey !important;
}

/* TRAIN SELECTOR */

train-selector.small-button-group button {
  min-width: 1.5rem;
  font-size: 70%;
  font-weight: 400;
  padding: 0.35rem 1rem;
  border-radius: 0 !important;
  margin-right: 0.1rem !important;
  height: 1.25rem;
}

train-selector.small-button-group button.k-button-rectangle{
  width: 2rem;
}

train-selector .k-button-rectangle {
  background-color: $alt-grey;
  width: 8rem;
  color: $white;
}

train-selector .k-button-rectangle:hover {
  background-color: try-darken($alt-grey, 10%);
  color: $white;
}

train-selector .rectangle-label-small{
  width: 8rem; 
  font-size: 80%;
}

train-selector .arrow-margin {
  margin-left: -1.5rem;
}

train-selector.small-train-selector .arrow-margin {
  margin-left: -0.5rem;
}

train-selector .arrow-margin:first-child {
  margin-left: 0;
}

train-selector .full-text-width {
  width: 5rem;
  font-size: 80%;
}

train-selector .with-pointer {
  cursor: pointer;
}

train-selector div.white-container .disabled.arrow-margin {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}

train-selector .train-element-container .arrow-right-transparent {
  width: 0; 
  height: 0; 
  border-top: 1.625rem solid $alt-grey;
  border-bottom: 1.625rem solid $alt-grey;
  border-left: 1.625rem solid transparent;
}

train-selector.small-train-selector .train-element-container .arrow-right-transparent {
  border-top: 0.625rem solid $alt-grey;
  border-bottom: 0.625rem solid $alt-grey;
  border-left: 0.625rem solid transparent;
}

train-selector .train-element-container .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 1.625rem solid transparent;
  border-bottom: 1.625rem solid transparent;
  border-left: 1.625rem solid $alt-grey;
}

train-selector.small-train-selector .train-element-container .arrow-right {
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid $alt-grey;
}

train-selector .train-element-container .rectangle {
  border-top: 0.375rem solid $alt-grey;
  border-bottom: 0.375rem solid $alt-grey;
  background-color: $alt-grey;
  width: 4rem;
  z-index: 2;
  color: $white;
}

train-selector .train-element-container .rectangle:hover {
  background-color: try-darken($alt-grey, 10%);
}

train-selector .k-button-rectangle.selected-rectangle {
  background-color: $versant-color !important;
  color: $white;
}

train-selector .k-button-rectangle.selected-rectangle:hover {
  background-color: try-darken($versant-color, 10%) !important;
  color: $white;
}

train-selector.small-train-selector .train-element-container .rectangle {
  border-top: 0 solid $alt-grey;
  border-bottom: 0 solid $alt-grey;
  width: 1rem;
  font-size: 70%;
  padding: 0.1rem !important;
}

train-selector .train-element-container:hover div.arrow-right-transparent {
  border-top-color: try-darken( $alt-grey, 10% );
  border-bottom-color: try-darken( $alt-grey, 10% );
}

train-selector .train-element-container:hover div.arrow-right {
  border-left-color: try-darken( $alt-grey, 10% );
}

train-selector .train-element-container:hover div.rectangle {
  border-top-color: try-darken( $alt-grey, 10% );
  border-bottom-color: try-darken( $alt-grey, 10% );
  background-color: try-darken($alt-grey, 10%);
}

train-selector .train-element-container.selected .arrow-right-transparent {
  border-top-color: $bg-blue;
  border-bottom-color: $bg-blue;
}

train-selector .train-element-container.selected .arrow-right {
  border-left-color: $bg-blue;
}

train-selector .train-element-container.selected .rectangle {
    border-top-color: $bg-blue;
    border-bottom-color: $bg-blue;
    background-color: $bg-blue;
}

train-selector .train-element-container.selected:hover div.arrow-right-transparent {
  border-top-color: try-darken( $bg-blue, 10% );
  border-bottom-color: try-darken( $bg-blue, 10% );
}

train-selector .train-element-container.selected:hover div.arrow-right {
  border-left-color: try-darken( $bg-blue, 10% );
}

train-selector .train-element-container.selected:hover div.rectangle {
  border-top-color: try-darken( $bg-blue, 10% );
  border-bottom-color: try-darken( $bg-blue, 10% );
  background-color: try-darken( $bg-blue, 10%);
}

.btn-arrow-left {
  position: relative;
  padding: 0.375rem 0.75rem 0.4375rem 0.75rem;
  white-space: normal;
  min-width: 9.0625rem;
  max-width: 9.0625rem;
  font-size: 0.6875rem;
  height: 3.125rem;
}

.btn-arrow-left.only-label {
  pointer-events: none;
}

.btn-arrow-left:before { 
  content:"";
  position: absolute;
  top: 0.375rem;
  width: 2.25rem;
  height: 2.25rem;
  background: inherit;
  border: inherit;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0rem 0.25rem 0rem 6.25rem;
  -webkit-border-radius: 0rem 0.25rem 0rem 6.25rem;
  -moz-border-radius: 0rem 0.25rem 0rem 6.25rem;
}

.btn-arrow-left:before {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.btn-arrow-left:before {
  left: -1rem;
}

button.btn-arrow-left:hover:enabled {
  color: $primary;
  background-color: $white;
  border-color: $primary;
}

button.btn-arrow-left.reversed-colors:enabled {
  color: $primary;
  background-color: $white;
  border-color: $primary;
}

button[icon=reset].custom-btn, button[icon=plus].custom-btn {
  border-radius: 50%;
  height: 1.5625rem;
  width: 1.5625rem;
  padding: 0.5rem;
}

button[icon=reset].custom-btn span.k-i-reset{
  color: $burgundy;
}

button[icon=plus].custom-btn span.k-i-plus {
  font-size: 1.375rem;
}

button[icon=reset].custom-btn:hover {
  background-color: $burgundy !important;
}

button[icon=reset].custom-btn:hover span.k-i-reset{
  color: $white;
}

.custom-btn.position-absolute {
  bottom: 0;
  right: 0;
}

span.custom-checkmark.k-i-success {
  color: $green;
}

span.icon-comment {
  color: $burgundy;
}

span.custom-checkmark.k-i-cancel-outline {
  color: $bright-red;
}

span.icon-comment, span.k-icon.k-i-cancel-outline, span.k-icon.k-i-success {
  font-size: 1.25rem;
}

/* ORDERABLE LIST */

orderable-list button {
  border-color: rgba(33, 37, 41, 0.15) !important;
}

orderable-list button:hover {
  background-color: #eee !important;
}

orderable-list span.k-icon {
  color: #444 !important;
  font-weight: bold !important;
}

